@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Monda');

h3 {
  color: white;
  font-family: 'Monda';
  padding-top: 30px;
  margin-left: 35px;
  font-size: 30px;
}

.alert-danger{
  color:red;
}

.appkey, .valkey {
  color: white;
  font-size: 20px;
}

textarea {
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  border: 2px solid white;
}

textarea:focus {
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  border: 2px solid red;
}

button {
  margin-top: 20px;
  background-color: #2f9d9d;
  color: white;
}

.error {
  color: red;
  font-size: 20px;
}

.success {
  color: green;
  font-size: 20px;
}

p {
  font-family: 'Exo 2';
  font-size: 20px;
}

#errorMsg{
  color:red;
  margin-top: 30px;
  margin-left: 35px;
}

#successMsg {
  margin-top: 30px;
  margin-left: 35px;
}

#invalidMsg {
  margin-top: 30px;
  font-size: 20px;
  margin-left: 35px;
}

.main {
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid white;
  margin: 0px 170px 0px 170px;
}

.header {
  color: white;
  border-bottom: 3px solid white;
}

.icon1 {
  width: 20px;
  position: relative;
  top: -2px;
}

.icon2 {
  width: 20px;
  position: relative;
  top: -2px;
  transform: rotate(20deg);
}

.form-control {
  background-color: transparent;
  color: white;
}

body {
  padding-top: 200px;
  height: 990px;
  background-size: 100px 100px;
  background: linear-gradient(#003333, cadetblue);;
}

#generate {
  font-weight: bold;
  padding: 10px;
  box-shadow: 3px 3px 5px #27607F;
  border: 1px solid #2f9d9d;
}

#generate:hover {
  font-weight: bold;
  padding: 10px;
  box-shadow: 2px 2px #27607F;
  border: 1px solid #27607F;
  background-color: #27607F;
}

#copy {
  font-weight: bold;
  padding: 10px;
  box-shadow: 3px 3px 5px #27607F;
  border: 1px solid #2f9d9d;
}

#copy:hover {
  font-weight: bold;
  padding: 10px;
  box-shadow: 2px 2px #27607F;
  border: 1px solid #27607F;
  background-color: #27607F;
}

::placeholder {
  color: white;
  font-weight: bold;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 150px;
}

.appkey-form-group {
  padding-top: 30px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.valkey-form-group {
  padding-top: 30px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
